<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.463788787726-9b0n63tkfm4ff4u612b6ekv54ashiniv</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>463788787726-9b0n63tkfm4ff4u612b6ekv54ashiniv.apps.googleusercontent.com</string>
</dict>
</plist>
